<!-- <h2 class={{title}}>hello world {{title}}</h2> -->
<!-- we can use the class as the dynamic data class={{title}}
    <h2>hello world {{data}}</h2>
    <h2>hello world {{showData()}}</h2>
    <h2>{{2+2+2+2}}</h2>
    <h2>{{ 100 }}</h2>
    <h2>{{view}}</h2> 
-->

<!-- we use a interpolation to display the data we use property and methods to show data -->

<!-- 
    we can't use a increament operator
    we can't create a new property here {{new hello}} or we can't use the new keyword
    we can't use the typeOf of operator
-->

<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<!-- <app-user-list></app-user-list>
<app-student-list></app-student-list> -->
<!-- <h2>welcome button</h2>
<button type="button" (click)="getName('abcdefghijklmnopqrstuvwxyz')">click for string</button>
<button type="button" (click)="getName(100)">click for number</button>
<br>
<br>
<input type="text" #keyup placeholder="key up" (keyup)="getValue(keyup.value)">
<br><br>
<input type="text" #keydown placeholder="key down" (keydown)="getValue(keydown.value)">
<br><br>
<input type="text" #keypress placeholder="key press" (keypress)="getValue(keypress.value)">
<br><br>
<input type="text" #blur placeholder="blur" (blur)="getValue(blur.value)">
<br><br>
<input type="text" #input placeholder="input" (input)="getValue(input.value)"> -->
<!-- input is like act us keydown    -->
<!-- <br><br>
<input type="text" name="newValue" id="newValue" placeholder="enter the value" #Value>
<br><br> -->
<!--   (keyup)="newValue(Value.value)" -->
<!-- <button type="button" (click)="newValue(Value.value)">click to view to data</button>
<p>input value {{showValue}}</p> -->
<!-- <app-counter></app-counter> -->

<h2 class="heading">Style with css of </h2>
<app-user-list></app-user-list>