<!-- <h2 class={{title}}>hello world {{title}}</h2> -->
<!-- we can use the class as the dynamic data class={{title}}
    <h2>hello world {{data}}</h2>
    <h2>hello world {{showData()}}</h2>
    <h2>{{2+2+2+2}}</h2>
    <h2>{{ 100 }}</h2>
    <h2>{{view}}</h2> 
-->

<!-- we use a interpolation to display the data we use property and methods to show data -->

<!-- 
    we can't use a increament operator
    we can't create a new property here {{new hello}} or we can't use the new keyword
    we can't use the typeOf of operator
-->

<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<!-- <app-user-list></app-user-list>
<app-student-list></app-student-list> -->
<!-- <h2>welcome button</h2>
<button type="button" (click)="getName('abcdefghijklmnopqrstuvwxyz')">click for string</button>
<button type="button" (click)="getName(100)">click for number</button>
<br>
<br>
<input type="text" #keyup placeholder="key up" (keyup)="getValue(keyup.value)">
<br><br>
<input type="text" #keydown placeholder="key down" (keydown)="getValue(keydown.value)">
<br><br>
<input type="text" #keypress placeholder="key press" (keypress)="getValue(keypress.value)">
<br><br>
<input type="text" #blur placeholder="blur" (blur)="getValue(blur.value)">
<br><br>
<input type="text" #input placeholder="input" (input)="getValue(input.value)"> -->
<!-- input is like act us keydown    -->
<!-- <br><br>
<input type="text" name="newValue" id="newValue" placeholder="enter the value" #Value>
<br><br> -->
<!--   (keyup)="newValue(Value.value)" -->
<!-- <button type="button" (click)="newValue(Value.value)">click to view to data</button>
<p>input value {{showValue}}</p> -->
<!-- <app-counter></app-counter> -->

<!-- <h2 class="heading">Style with css of </h2>
<app-user-list></app-user-list> -->


<!-- in use case of interpolation, its only works on string and numbers, it can't work on boolean values
property values work with boolean values  -->
<!-- <input type="text" name="value1" id="showdown" value="{{thats}}" disabled={{disable}}>
<br><br>
<input type="text" name="value2" id="showdown2" [value]="thats" [disabled]="disable"> -->

<!-- <ng-container *ngIf="condition; then ifBlock; else elseBlock"> -->
<!-- <h3>if true statement</h3> -->
<!-- </ng-container> -->
<!-- *ngIf works only ng-container of angular derivative -->
<!-- <h3 *ngIf="condition; else elseBlock">
    if true block
</h3> -->
<!-- <h3 *ngIf="condition; then ifBlock; else elseBlock"></h3> -->
<!-- else condition works only on ng-template -->
<!-- <ng-template #ifBlock>
    <h3>if condition</h3>
</ng-template>
<ng-template #elseBlock>
    <h3>else block</h3>
</ng-template>
<ng-template [ngIf]="true">
    <h3>hi</h3>
</ng-template> -->
<!-- [ngIf] -->
<!-- multiple ng If statement -->
<!-- <ng-template [ngIf]="color == 'red'">
    <h3 style="color: red;">color Red</h3>
</ng-template>
<ng-template [ngIf]="color == 'green'">
    <h3 style="color: green;">color green</h3>
</ng-template>
<ng-template [ngIf]="color == 'blue'">
    <h3 style="color: blue;">color blue</h3>
</ng-template> -->

<!-- <h4 *ngFor="let data of users">{{data}}</h4>
<h4 *ngFor="let data of userDetails">{{data | json}}</h4> -->

<!-- <ul *ngFor="let user of userDetails">
    <li>{{user.name}}</li>
    <li>{{user.age}}</li>
    <ul *ngFor="let account of user.accounts">
        <li>{{account}}</li>
    </ul>
</ul> -->
<!-- <h3 style="color: green;">Blue</h3> -->
<!-- <h3 [style.color]="color1">style binding</h3>
<button type="button" (click)="updateColor()">change color</button> -->

<!-- <app-header></app-header> -->
<!-- <form #baseForm="ngForm" (ngSubmit)="getFormValue(baseForm)">
    <input type="text" ngModel name="email" id="email" #email placeholder="email">
    <br><br>
    <input type="text" ngModel name="name" id="name" placeholder="name">
    <br><br>
    <input type="number" ngModel name="number" id="number" placeholder="number">
    <br><br>
    <input type="text" ngModel name="location" id="location" placeholder="location">
    <br><br>
    <button type="submit">Submit</button>
</form>
<ul>
    <li>
        {{userInfo.email}}
    </li>
    <li>
        {{userInfo.name}}
    </li>
    <li>
        {{userInfo.number}}
    </li>
    <li>
        {{userInfo.location}}
    </li>
</ul>
<br>
{{baseForm.value | json}}
<br>
{{email.value}} -->

<button (click)="toggleMe()">toggle me</button>
<h2 *ngIf="showToggle">toggle</h2>